extends layout

include mixins/_commentForm
include mixins/_comment

block content
    .inner
        .card--poem
            h2
                a(href=`/poems/${poem.slug}`) #{poem.name}
            h3 &nbsp;&nbsp;by #{poem.author.name}
            hr
            p.poem--text= poem.text
    .inner
        .card--poem
            if user
                .controls__container
                    form.poem__controls(method="POST" action=`/api/v1/poems/${poem._id}/heart`)
                            - const heartStrings = user.hearts.map(obj => obj.toString())
                            - const heartClass = heartStrings.includes(poem._id.toString()) ?   'heart__button--hearted' : ''
                            button.heart__button(type="submit" name="heart" class=heartClass)
                               p Like
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                p Dislike
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                p Favorite
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                p Next: &rarr;
    .inner
        .card--poem
            if poem.tags
                span.poem--title This poem's genome (click on any tag to explore more)
                hr
                each tag in poem.tags
                    a(href=`/tags/${tag}`)
                        span.poem__genes #{tag},&nbsp;
        br

