extends layout

include mixins/_commentForm
include mixins/_comment

block content
    .inner
        .card--poem
            h2
                a(href=`/poems/${poem.slug}`) #{poem.name}
            h3 &nbsp;&nbsp;by #{poem.author.name}
            hr
            p.poem--text= poem.text
    .inner
        .card--poem
            if user
                .poem__controls
                    form(method="POST" action=`/api/v1/poems/${poem._id}/like`)
                            button.like__button(type="submit" name="like")
                               p Like
                    form(method="POST" action=`/api/v1/poems/${poem._id}/dislike`)
                            button.like__button(type="submit" name="dislike")
                                p Dislike
                    a.like__button(href=`/feed`) Next
    .inner
        .card--poem
            if poem.tags
                span.poem--title This poem's genome
                hr
                each tag in poem.tags
                    a(href=`/tags/${tag}`)
                        span.poem__genes #{tag},&nbsp;
        br

