mixin poemCard(poem = {})
    .poem
        .poem__actions
                if user
                    .poem__action.poem__action--heart
                        form.heart(method="POST" action=`/api/v1/poems/${poem._id}/heart`)
                            - const heartStrings = user.hearts.map(obj => obj.toString())
                            - const heartClass = heartStrings.includes(poem._id.toString()) ?   'heart__button--hearted' : ''
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                != h.icon('heart')
                if user && poem.author.equals(user._id)
                    .poem__action.poem__action--edit
                        a(href=`/poems/${poem._id}/edit`)
                            != h.icon('pencil')
        .poem__hero
            h2.title.poem--title
                    a(href=`/poems/${poem.slug}`) #{poem.name}

        .poem__details
            p= poem.description.split(' ').slice(0, 25).join(' ')
